<!DOCTYPE html>
<html>
<title>index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>

<head>
  <script>
    (function() {
      var cx = '004243522907286865523:oanrcoqltlw';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
      window.onload = function(){
        document.getElementById('gsc-i-id1').placeholder = 'search olympic.org';
      }

    })();
  </script>
  <style>
    .cse .gsc-search-button input.gsc-search-button-v2,
    input.gsc-search-button-v2 {
        height: 26px !important;
        margin-top: 0 !important;
        min-width: 13px !important;
        padding: 5px 26px !important;
        width: 68px !important;
    }
</style>
</head>

<body>

<!-- !PAGE CONTENT! -->
<div class="content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:30px 16px">
  <h1 class="w3-xlarge">Olympics</h1>
  <h1></h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/map" class="w3-bar-item w3-button">map</a>
      <!-- <li><a href="/map">map</a></li> -->
      <a href="/funfacts" class="w3-bar-item w3-button w3-light-grey">anthlete info</a>
      <!-- <a href="#" class="w3-bar-item w3-button">Contact us</a> -->
      <button onclick = "Contact()" class="w3-bar-item w3-button">Contact us</a>


    </div>

    
  </div>
</header>

<div body style="width:600px;margin-left:auto;margin-right:auto;">
  <h1 class="w3-large">Google Search</h1>
    <gcse:search></gcse:search>
</div>




<!-- Photo Grid -->
<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
  <div class="olym1">
    <img src="/images/entry6.jpg" style="width:100%">
    <img src="/images/entry3.jpg" style="width:100%">
    <img src="/images/entry5.jpg" style="width:100%">
  </div>

  <div class="olym2">
    <img src="/images/entry2.jpg" style="width:100%">
    <img src="/images/entry4.jpg" style="width:100%">
    <img src="/images/entry1.jpg" style="width:100%">

  </div>
</div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> 
  <!-- <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i> -->
  <p>cis550 olympics group3</p>
</footer>

<div id="us"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('us').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Group Name: <b>group 3</b></h5>
      <h5>name: <b>Ruqing Xu</b></h5>
      <h5>email: <b>ruqing@seas.upenn.edu</b></h5>
      <h5>name: <b>Xiang Li</b></h5>
      <h5>email: <b>xiangli3@seas.upenn.edu</b></h5>
      <h5>name: <b>Yingkai Su</b></h5>
      <h5>email: <b>yingkais@seas.upenn.edu</b></h5>
      <h5>name: <b>Xiang Zhang</b></h5>
      <h5>email: <b>@seas.upenn.edu</b></h5>
    </div>
  </div>
</div>

<script type="text/javascript">
  function Contact() {
        document.getElementById('us').style.display='block';
      }
  </script>

</body>
</html>

