<!DOCTYPE html>
<html>
<title>athlete</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="js/jquery.mapael.js" charset="utf-8"></script>
    <script src="https://rawgit.com/aterrien/jQuery-Knob/master/dist/jquery.knob.min.js" charset="utf-8"></script>
    <script src="js/maps/world_countries.js" charset="utf-8"></script>

<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>athlete page</b></h3>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
     <li><a href="/">back to home page</a></li>
    <li><a href="/map">map</a></li>
    <div class="fb-share-button" data-href="http://ec2-52-15-157-140.us-east-2.compute.amazonaws.com:8000/funfacts" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fec2-52-15-157-140.us-east-2.compute.amazonaws.com%3A8000%2Ffunfacts&amp;src=sdkpreparse">Share</a></div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">olympics</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left"></p>
    <p class="w3-right">
    </p>
  </header>

  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="https://media.giphy.com/media/5Irg8v2e8GxgI/giphy.gif" style="width:100%">
    <!-- <img src="/images/1.jpg" alt="ceremony" style="width:100%"> -->
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Welcome</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">olympics athlete</h1>
      <p><a href="#moreAthlete" class="w3-button w3-black w3-padding-large w3-large">athlete info</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="moreAthlete">
    <p>8 famous athletes</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row w3-grayscale">

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/images/Guo_Jingjing.jpg" style="width:100%">
          <!-- <span class="w3-tag w3-display-topleft">New</span> -->
          <div class="w3-display-middle w3-display-hover">
            <button onclick = "getJ()" class="w3-button w3-black">Get Info<i ></i></button>
          </div>
        </div>
        <p>Jingjing Guo<br><b></b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/images/Lin_Dan.jpg" style="width:100%">
          <!-- <span class="w3-tag w3-display-topleft">New</span> -->
          <div class="w3-display-middle w3-display-hover">
            <button onclick = "getL()" class="w3-button w3-black">Get Info<i ></i></button>
          </div>
        </div>
        <p>Dan Lin <br><b></b></p>
      </div>

    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">

          <img src="/images/Michael_Phelps.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover">
            <button onclick = "getM()" class="w3-button w3-black">Get Info<i ></i></button>
          </div>
        </div>
        <p>Michael Phelps<br><b></b></p>
      </div>

      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/images/Nadia_Com.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover">
            <button onclick = "getN()" class="w3-button w3-black">Get Info<i ></i></button>
          </div>
        </div>
        <p>Nadia Comăneci<br><b></b></p>
      </div>

    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/images/reiner-klimke.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover">
            <button onclick = "getR()" class="w3-button w3-black">Get Info<i ></i></button>
          </div>
        </div>
        <p>einer klimke<br><b></b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/images/STEVEN REDGRAVE.jpg" style="width:100%">
          <!-- <span class="w3-tag w3-display-topleft">Sale</span> -->
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black" onclick = "getS()">Get Info <i></i></button>
          </div>
        </div>
        <p>Steven Redgrave<br><b class="w3-text-red"></b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/images/Usain_Bolt.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black" onclick = "getU()">Get Info <i></i></button>
          </div>
        </div>
        <p>Usain Bolt<br><b class="w3-text-red"></b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/images/VALENTINA _VEZZALI.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black" onclick = "getV()">Get Info <i></i></button>
          </div>
        </div>
        <p>Valentina  Vezzali<br><b class="w3-text-red"></b></p>
      </div>

    </div>

  </div>

  <!-- Subscribe section -->
  <div class="w3-container w3-black w3-padding-32">
    <h1>Get Personal Information</h1>
    <p>please enter the athlete name:</p>
    <p><input id = "athleteName" name="ana" onchange = "getName()" class="w3-input w3-border" type="text" placeholder="enter name" style="width:100%"></p>
    <button onclick="getInfo()" type="button" class="w3-button w3-red w3-margin-bottom " >submit</button>
  </div>

  <div class="w3-container w3-black w3-padding-32">
    <h1>Get Awards</h1>
    <p>please enter the athlete name:</p>
    <p><input id = "athleteNameAward" name="ana1" onchange = "getFirstNameAward()" class="w3-input w3-border" type="text" placeholder="first name" style="width:50%"></p>
    <p><input id = "athleteLastNameAward" name="ana2" onchange = "getLastNameAward()" class="w3-input w3-border" type="text" placeholder="last name" style="width:50%"></p>
    <button onclick="getInfoAward()" type="button" class="w3-button w3-red w3-margin-bottom " >submit</button>
  </div>
  
  <!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding"> CIS550 olympics group3
    </div>
  </footer>


  <!-- End page content -->
</div>

<div id="menu" onchange = "printInfo()"; class="w3-modal">

  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="mute()" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Athlete Info</h1>
    </div>
    <div id = "mongod" class="w3-container">
    </div>
  </div>
</div>

<div id="show_award" class="w3-modal">

  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="mute2()" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Award Info</h1>
    </div>
    <div id = "sql" class="w3-container">
    </div>
  </div>
</div>

<!-- Michael_Phelps Info-->
<div id="Phelps"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Phelps').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Michael Phelps</b></h5>
      <h5>Full name: <b>Michael Fred Phelps II</b></h5>
      <h5>Nickname1: <b>The Baltimore Bullet</b></h5>
      <h5>Nickname2: <b>Flying Fish</b></h5>
      <h5>National team: <b>United States</b></h5>
      <h5>Born: <b>(1985-06-30) June 30, 1985 (age 32) Baltimore, Maryland, U.S.</b></h5>
      <h5>Height: <b>6 ft 4 in (193 cm)</b></h5>
      <h5>Weight: <b>194 lb (88 kg)</b></h5>
    </div>
  </div>
</div>

<!-- Jingjing Guo Info-->
<div id="Jingjing"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Jingjing').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Guo Jingjing</b></h5>
      <h5>Full name: <b>Guo Jingjing</b></h5>
      <h5>National team: <b>China</b></h5>
      <h5>Born: <b>(1981-10-15) October 15, 1981 (age 36) Baoding, Hebei, China</b></h5>
      <h5>Height: <b>5 ft 4 in (163 cm)</b></h5>
    </div>
  </div>
</div>

<!-- Dan Lin Info-->
<div id="Dan"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Dan').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Lin Dan</b></h5>
      <h5>Nickname: <b>Super Dan</b></h5>
      <h5>National team: <b>China</b></h5>
      <h5>Born: <b>(1983-10-14) October 14, 1983 (age 34) Longyan, Fujian, China"</b></h5>
      <h5>Height: <b>1.78 m (5 ft 10 in)</b></h5>
      <h5>Weight: <b>70 kg (154 lb)</b></h5>
    </div>
  </div>
</div>

<!-- Bolt Info-->
<div id="Bolt"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Bolt').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Usain Bolt</b></h5>
      <h5>Full name: <b>Usain St Leo Bolt</b></h5>
      <h5>Nickname: <b>Lightning Bolt</b></h5>
      <h5>Nationality: <b>Jamaican</b></h5>
      <h5>Born: <b>(1986-08-21) 21 August 1986 (age 31) Sherwood Content, Jamaica</b></h5>
      <h5>Height: <b>1.95 m (6 ft 5 in)</b></h5>
      <h5>Weight: <b>94 kg (207 lb)</b></h5>
    </div>
  </div>
</div>

<!-- Nadia Comaneci Info-->
<div id="Nadia"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Nadia').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Nadia Comaneci</b></h5>
      <h5>Full name: <b>Nadia Elena Comăneci</b></h5>
      <h5>Nickname: <b>Nadia</b></h5>
      <h5>Nationality: <b>Romania</b></h5>
      <h5>Born: <b>(1961-11-12) November 12, 1961 (age 56) Onești, Romania</b></h5>
      <h5>Height: <b>5 ft 4 in (1.63 m)</b></h5>
      <h5>Discipline: <b>Women's artistic gymnastics</b></h5>
    </div>
  </div>
</div>

<!-- Reiner Klimke Info-->
<div id="Reiner"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Reiner').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Reiner Klimke</b></h5>
      <h5>Nationality: <b>Romania</b></h5>
      <h5>Born: <b>14 January 1936 Münster, Germany</b></h5>
      <h5>Height: <b>1.84 m (6 ft 0 in)</b></h5>
      <h5>Weight: <b>66 kg (146 lb)</b></h5>
      <h5>Sport: <b>Equestrianism</b></h5>
    </div>
  </div>
</div>

<!-- Valentina Vezzali Info-->
<div id="Valentina"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Valentina').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Valentina Vezzali</b></h5>
      <h5>Full Name: <b>Maria Valentina Vezzali</b></h5>
      <h5>Nick Name: <b>Cobra</b></h5>
      <h5>Country represented: <b>Italy</b></h5>
      <h5>Born: <b>(1974-02-14) 14 February 1974 (age 43) Iesi, Italy</b></h5>
      <h5>Weapon: <b>Foil</b></h5>
      <h5>Hand: <b>right-handed</b></h5>
    </div>
  </div>
</div>

<!-- Steven Redgrave Info-->
<div id="Steven"  class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('Steven').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
    </div>
    <div id = "inner1" class="w3-container">
      <h5>Name: <b>Steven Redgrave</b></h5>
      <h5>Full Name: <b>Steven Geoffrey Redgrave</b></h5>
      <h5>Education: <b>Great Marlow School</b></h5>
      <h5>Country represented: <b>British</b></h5>
      <h5>Born: <b>(1962-03-23) 23 March 1962 (age 55) Marlow, Buckinghamshire, UK</b></h5>
      <h5>Occupation: <b>Rower</b></h5>
      <h5>Height: <b>6 ft 4.75 in (1.9495 m)</b></h5>
    </div>
  </div>
</div>



<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide"></h2>
      <p>Here's the personal information from wikipedia.</p>
    </div>
  </div>
</div>

<script type="text/javascript">
// Accordion 
var name ;
var firstNameAward;
var lastNameAward;
function getName() {
  name = document.getElementById("athleteName").value;
} 
function getFirstNameAward() {
  firstNameAward = document.getElementById("athleteNameAward").value;
}
function getLastNameAward() {
  lastNameAward = document.getElementById("athleteLastNameAward").value;
}
 
function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
function printInfo() {
  
}



// Script to open and close sidebar

function getInfo() {
        if(name === "") {
            alert("please enter an athlete name");
        } else {        
        var data = {};
        data.name = name;
        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: './funfacts/info', 
            success: function(data) {
              if(data.length > 0) {
              for(var i = 0; i < data.length; i++) {
                var p = document.createElement("P");
                for (var k in data[i]) {
                  var content = "";
                  if (k ==="link"){
                  var linka = data[i][k];
                  var result = linka.link(linka);
                   var el = document.createElement('div');
                   el.innerHTML = result;
                   p.appendChild(el);

                } else {
                content = content + k + ": " + data[i][k];
                var t = document.createTextNode(content);
                p.appendChild(t);
                var b = document.createElement("br");
                p.appendChild(b);
              }
              } 
              document.getElementById('mongod').appendChild(p);
              }                                
            } else {
              var p = document.createElement("P");
              var content = "no information found";
              var t = document.createTextNode(content);
              p.appendChild(t);
              document.getElementById('mongod').appendChild(p);

            }
          }

        });
        document.getElementById('menu').style.display='block';
        }
      }

      function getInfoAward() {
        if(lastNameAward === "" || firstNameAward === "") {
            alert("please enter an athlete name");
        } else {
          var dataAward = {};
          dataAward.firstNameAward = firstNameAward;
          dataAward.lastNameAward = lastNameAward;
          $.ajax({
            type: 'POST',
            data: JSON.stringify(dataAward),
            contentType: 'application/json',
            url: './funfacts/awards', 
            success: function(data) {
              if(data.length == 0) {
                alert("no informaiton found");
              } else {
                for(var i = 0; i < data.length; i++) {
                  var p = document.createElement("P");
                  var content_name = "";
                    content_name = "name: "+content_name + data[i][0] + " " ;
                    var t = document.createTextNode(content_name);
                    var content_award = "";
                    content_award = (i + 1) + ": "+content_award + data[i][1] + " " + data[i][2]+" "+ data[i][3] + " " + data[i][4] + " " + data[i][5];
                    var t2 = document.createTextNode(content_award);
                    p.appendChild(t2);
                    var b = document.createElement("br");
                    p.appendChild(b);
                  document.getElementById('sql').appendChild(p);
                }
                document.getElementById('show_award').style.display='block';
              }
            }
          });
          // document.getElementById('show_award').style.display='block';
        }
      }



      function getM() {
        document.getElementById('Phelps').style.display='block';
      }

      function getJ() {
        document.getElementById('Jingjing').style.display='block';
      }

      function getL() {
        document.getElementById('Dan').style.display='block';
      }

      function getU() {
        document.getElementById('Bolt').style.display='block';
      }

      function getN() {
        document.getElementById('Nadia').style.display='block';
      }

      function getR() {
        document.getElementById('Reiner').style.display='block';
      }

      function getV() {
        document.getElementById('Valentina').style.display='block';
      }

      function getS() {
        document.getElementById('Steven').style.display='block';
      }

      function mute() {
        document.getElementById('menu').style.display='none'
        document.getElementById('mongod').innerHTML = "";
      }

      function mute2() {
        document.getElementById('show_award').style.display='none'
        document.getElementById('sql').innerHTML = "";
      }
</script>

</body>
</html>

